@import "neat-helpers"; // or "neat/neat-helpers" when not in Rails

// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$small-screen: new-breakpoint(min-width em(540) 1);
$medium-screen: new-breakpoint(min-width em(760) 6);
$large-screen: new-breakpoint(min-width em(920) 6);
