= form_for @payment_request do |f|
  - if @payment_request.errors.any?
    .error_messages
      %h2
        = pluralize(@payment_request.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @payment_request.errors.full_messages.each do |msg|
          %li= msg
  .field
    -# = f.label :btc_address
    = f.hidden_field :btc_address
    -# = f.text_field :btc_address, placeholder: "Paste your paperwallet address here", disabled: true
  .action
    = f.submit t(".continue"), class: "big", id: "pay_your_coin", data: {confirm: "!!!We have no access to your private key. Make sure your paperwallet has been printed!!!"}, style: "display: none;"
