%header.main
  .wrapper
    %h1
      BTC1K Party ticket purchase
%section.howto
  .wrapper
    %article.paperwallet
      %h3 1. Create a paperwallet
      %p
        Create a new and empty paperwallet. Make it private or create one at bitaddress or paperwallet.btc1k.com. Make sure it is empty.
    %article.request
      %h3 2. Get payment address
      %p
        Fill your address to the form below and request a payment. You will get a new payment address.
    %article.pay
      %h3 3. Pay your bitcoin
      %p
        Send 1 btc to this address. Later an amount of bitcoins will be transfered to your paperwallet.
%section.form
  .wrapper
    %h2
      = link_to "PAYMENT ADDRESS"
%section.info
  .wrapper
    In combination with the transaction in the blockchain your ticket will be valid. Don't spend the milibitcoins from your paperwallet.
