%header.main
  .wrapper
    %h1
      BTC1K Party ticket ipo
%section.howto
  .wrapper
    %article.paperwallet
      %h3
        = t(".first_step.headline")
      %p
        = t(".first_step.description")
    %article.request
      %h3
        = t(".second_step.headline")
      %p
        = t(".second_step.description")
    %article.request

    %article.pay
      %h3
        = t(".third_step.headline")
      %p
        = t(".third_step.description")

%section.form
  .wrapper
    %h2
      = link_to "Create your ticket for the BTC1k Party", new_payment_request_path
%section.info
  .wrapper
    = t("global.transactioninfo")
