%header.main
  .wrapper
    %h1
      Imprint 
%section.content
  .wrapper
    %article.company
      %h3 BTC1K UG (haftungsbeschränkt) in Gründung
      %P CEO Eric Sidibe, Timo Strohmenger
      %p Elisabethenstraße 34
      %p 64283 Darmstadt
      %p info@btc1k.com

%section.form
  .wrapper
    %h2
      = link_to "Create your ticket for the BTC1k Party", new_payment_request_path
%section.info
  .wrapper
    = t(".transactioninfo")
