= stylesheet_link_tag('print', :media => :print)
%section.paperwallet
  .wrapper
    = render "shared/bitaddress"
    .print
      %h3=t(".titles.paperwallet")
      %p
        =t(".text.paperwallet")

      %input#paperprint{:name => "print", :onclick => "window.print(); document.getElementById('pay_your_coin').style.display='inline'; document.getElementById('payment_info').style.display='none'", :type => "submit", :value => t(".print"), class: "print-now"}



%section.info#payment_info
  .wrapper
    %p Payment button will appear after you printed the paperwallet/ticket

%section.form
  .wrapper
    =render "form"

%section.info
  .wrapper
    = t(".text.transactioninfo")

