<!-- Customized Bitaddress.org implementation
Donation Address: 1NiNja1bUmhSoTXozBRBEtR8LeF9TGbZBN

Notice of Copyrights and Licenses:
***********************************
The bitaddress.org project, software and embedded resources are copyright bitaddress.org (pointbiz). 
The bitaddress.org name and logo are not part of the open source license.

Portions of the all-in-one HTML document contain JavaScript codes that are the copyrights of others. 
The individual copyrights are included throughout the document along with their licenses.
Included JavaScript libraries are separated with HTML script tags.

Summary of JavaScript functions with a redistributable license:
JavaScript function		License
*******************		***************
Array.prototype.map		Public Domain
window.Crypto			BSD License
window.SecureRandom		BSD License
window.EllipticCurve		BSD License
window.BigInteger		BSD License
window.QRCode			MIT License
window.Bitcoin			MIT License
window.Crypto_scrypt		MIT License

The bitaddress.org software is available under The MIT License (MIT)
Copyright (c) 2011-2013 bitaddress.org (pointbiz)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and 
associated documentation files (the "Software"), to deal in the Software without restriction, including 
without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or 
sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject 
to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial 
portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

GitHub Repository: https://github.com/pointbiz/bitaddress.org
-->

<%= javascript_include_tag "bitaddress" %>

<div class="bitaddress"  onclick="SecureRandom.seedTime();" onkeypress="SecureRandom.seedTime();" onmousemove="ninja.seeder.seed(event);">
	<div id="busyblock"></div>
	<div id="main">
		<div id="testnet"></div>
		
		<div id="generate">
			<span id="generatelabelbitcoinaddress">Generating Bitcoin Address...</span><br />
			<span id="generatelabelmovemouse">MOVE your mouse around to add some extra randomness...</span><br />
		</div>

		<div id="wallets">
			<div id="paperarea">
				<div class="commands">
					<div id="papercommands" class="row">
						<span><label id="paperlabelhideart">Hide Art?</label> <input type="checkbox" id="paperart" onchange="ninja.wallets.paperwallet.toggleArt(this);" /></span>
						<span><label id="paperlabeladdressestogenerate">Addresses to generate:</label> <input type="text" id="paperlimit" /></span>
						<span><input type="button" id="papergenerate" value="Generate" onclick="ninja.wallets.paperwallet.build(document.getElementById('paperlimit').value * 1, document.getElementById('paperlimitperpage').value * 1, !document.getElementById('paperart').checked, document.getElementById('paperpassphrase').value);" /></span>
					</div>
					<div id="paperadvancedcommands" class="row extra">
						<span><label id="paperlabelencrypt">BIP38 Encrypt?</label> <input type="checkbox" id="paperencrypt" onchange="ninja.wallets.paperwallet.toggleEncrypt(this);" /></span>
						<span><label id="paperlabelBIPpassphrase">Passphrase:</label> <input type="text" id="paperpassphrase" /></span>
						<span><label id="paperlabeladdressesperpage">Addresses per page:</label> <input type="text" id="paperlimitperpage" /></span>
					</div>
				</div>
				<div id="paperkeyarea"></div>
			</div>
		</div>
	</div>

<%= javascript_include_tag "bitaddress_footer_load" %>
</div>
