= form_for :payment_request, url: status_verify_path do |f|

  .field
    = f.label :btc_address
    = f.text_field :btc_address, placeholder: t(".placeholder")
  .action
    = f.submit t(".continue"), class: "big"
