%section.status
  .wrapper
    - if (@request_struct.state == "PENDING")
      %h1.status_title
        =t(".titles.pending")
      -# %h2
      -#   %pre
      -#     =@request_struct.title
      %p=t(".text.pending")

    - elsif (@request_struct.state == "CLAIMED")
      %h1=t(".titles.claimed", address: @request_struct.title)

      %h2
        %pre
          =@request_struct.title
      %p=t(".text.claimed")

    - elsif (@request_struct.state == "TIMEOUT")
      %h1=t(".titles.timeout", address: @request_struct.title)
      %h2
        %pre
          =@request_struct.title
      %p=t(".text.timeout")

    - if (@request_struct.state == "PENDING")
      %dl
        %dt
          %h4
            Payment address
          %pre
            #{@request_struct.address}
        %dd
          %table.qrcode
            - @qr.modules.each_index do |x|
              %tr
                - @qr.modules.each_index do |y|
                  - if @qr.dark?(x,y)
                    %td.black
                  - else
                    %td.white
    %dl
      %dt
        Status
      %dd
        #{@request_struct.state}

    %p= link_to "watch your transaction in blockchain.info", "https://blockchain.info/address/" + @request_struct.address, target: "_blank"
    %p= link_to "create another ticket", new_payment_request_path, target: "_blank"

%section.info
  .wrapper
    %p= t("global.transactioninfo")
    %p
      Your paperwallet address: 
      = @request_struct.title


