%section.status
  .wrapper
    %h3
      %b
        STATUS:
      #{@request_struct.state}
    %p
      ID: #{@request_struct.id}
    %p
      CREATET_AT: #{@request_struct.created_at}
    %p
      ADDRESS: #{@request_struct.address}
    %p
      CONFIRMATIONS: #{@request_struct.confirmations}
    %p
      TIMEOUT: #{@request_struct.timeout}
    %p
      PAID: #{@request_struct.paid}
    %p
      PROVISION_ADDRESS: #{@request_struct.provision_address}
    %b
      %p= link_to "watch your transaction in blockchain.info", "https://blockchain.info/address/" + @request_struct.provision_address , target: "_blank"
      %p
        = link_to "create another ticket", new_payment_request_path, target: "_blank"
        %p
