section.info {
  text-align: center;
  // padding: 0.4em 2em 2em;
}

section.paperwallet {
  margin-bottom: 1.2em;

  background-image: url(guilloche-brown.jpg);
  background-repeat:repeat-x;
  // background-size:cover;
  // background-color: rgba(91, 79, 65, 0.3);

  .bitaddress, .print{
    // @include span-columns(2);
    @include media($large-screen) {
      @include span-columns(3);
    }
  }
  .print {
    padding: 3em 1em;
  }
}

section.form {
  text-align: center;
  // background-image: url(background_image.jpg);
  padding: 1.5em;
  // background-color: rgba(91, 79, 65, 0.9);
  color: white;

}

section.status{
  text-align: center;
  // padding: 2em 2em;

  .actions {
    @include span-columns(6);
    @include media($small-screen) {
      padding-top: 1.8em;
      @include span-columns(3);
    }
  }
}

ssection.form, ssection.howto, ssection.papperwallet{

  // color: white;
  // padding: 0 2em;
  // background: #fed484;

  h2 {
    padding: 1em 0 0.8em;
  }

  article {
    min-height: 180px;
    padding: 1.6em 1.4em 1em;
    @include span-columns(6);
    @include media($medium-screen) {
      @include span-columns(3);
      padding: 1.6em 1.4em 1em;
    }
  }
  .pay, .paperwallet{
    background-color: #fecc6a;
    background-color: rgba(91, 79, 65, 0.9);
  }

  .pay{
    margin-top: 3em;
  }

  h3{
    font-size: 1.4em;
  }
}

table {
 border-width: 0;
 border-style: none;
 border-color: #0000ff;
 border-collapse: collapse;
}

td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 4px;
  height: 4px;
}

td.black { background-color: #000; }
td.white { background-color: #fff; }

#paperprint {
  display: none;
}

#pay_your_coin {
  padding: 15px 35px;
}

article.company {
  text-align: center;
}

article.company p {
  margin: 0 0 0 0 ;
}

.status_title {
  margin-bottom: 30px;;
}

#payment_info p {
  font-size: 30px;
  margin-top: 20px
}
