body {
  color: rgba(91, 79, 65, 0.9);
  padding: 0 0 0 0;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  color: rgba(91, 79, 65, 1);
  // font-size: 1.4em;
  pre {
    font-size: 0.5em;
  }
}

h2 {
  color: rgba(91, 79, 65, 1);
  // font-size: 1.4em;
  pre {
    font-size: 0.6em;
  }
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em ;
  @include outer-container;
}

header.main {
  text-align: center;
  padding: 0.2em 0 1.4em;
  h1 a {
    color: transparent;
    text-shadow: none;
    background: url("btc1k-logo.png") no-repeat center;
    background-size: contain;
    display: block;
    margin-top: 28px;
    // width: 240p;
    height: 130px;
    // float: left;

    // margin-bottom: -80px;
    @include media($large-screen) {
      margin-top: 16px;
      // margin-bottom: -40px;
    }
  }
  nav a {
    float: right;
    padding: 0.4em 1.6em 0 0.1em;
  }
  .right {
    float: right;
    a {
      padding: 1em;
    }
  }
  .left {
    float: right;
  }
}

footer.main {
  padding: 1em 0;
  text-align: center;
  font-size: 0.8em;
  p {
    margin-bottom: 0;
  }
}

button, input[type="submit"] {
  // @include button(simple, red);
  box-shadow: 0px 4px 0px rgba(0,0,0,0.15);
}

.qrcode{
  width: 164px;
  margin: auto;
}

.print button, input[type="submit"] {
  // font-size: 1.4em;
}
dl.inline {
  dt {
    float: left;
  }
  dd {
    float: right;
  }
}
dl.inline {
  dt, dd {
    float: left;
    margin: 0 0.5em 0 0;
  }
  dd + dd {
    clear: left
  }
}
#flash {
  text-align: center;
}
