!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    %title= page_title
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
  %body{:class => body_class}
    = render 'flashes'
    %header.main
      .wrapper
        %nav.actions
          =link_to "How it works", how_to_path
          =link_to "Verify ticket status",  status_index_path
          -# = form_tag("/status", method: "get") do
            = label_tag(:btc_address, "Get status for your ticket")
            = text_field_tag(:btc_address)
            = submit_tag("check")
        %h1
          %span
            <a href="/" onclick="return confirm('Leave this page? After leaving this page we generate a new ticket address')">Btc1k</a>
            -# BTC1K Party ticket purchase
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46302180-2', 'btc1k.com');
      ga('send', 'pageview');

    %section.container
      = yield
    %footer.main
      .wrapper
        %p
          BTC1K party is maintained and funded by
          = succeed "." do
            %a{:href => "https://btc1k.com"} 600watt, cheech300, bulleric
          Questions? Tweet
          = succeed "." do
            %a{:href => "http://www.twitter.com/btc1k"} @btc1k
        %p Copyright © 2013 BTC1K
        %p
        %p 
          Special thanks to
        %p 
          = link_to "http://bitsofproof.com", target: "_blank" do
            = image_tag "bitsofproof.png"
        %p 
          = link_to "Imprint", impress_url
    = render 'javascript'
